<div class="detail-section">
    <div class="container-fluid">
        <ng-container *ngIf="product">
 
            <img src="{{ product.imageUrl }}" class="detail-img">
            
            <h3>{{ product.name }}</h3>
            <div class="price">{{ product.unitPrice | currency:'TWD' : 'symbol-narrow':'.0' }}</div>
            <button (click)="addToCart()" class="btn btn-primary btn-sm">加入購物車</button>
            
            <hr>
            <h4>簡介</h4>
            <p>{{ product.description }}</p>

            <a routerLink="/products" class="mt-5">回到產品列</a>

        </ng-container>
    </div>
</div>
